@model ProyectoGiasaWeb.Models.Maquilas

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<h2>Eliminar Un Maquila</h2>

<h4>¿Estas Seguro De Eliminar Este Registro?</h4>
<div>
    <h4>Maquilas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreMaq)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nombreMaq)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.precio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="idMaquila" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> | |
        <a asp-action="Index" class="btn btn-primary">Regresar A La Lista</a>
    </form>
</div>
