@model ProyectoGiasaWeb.Models.CatInsumo

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<h2>Eliminar Insumo</h2>

<h4>¿Estas Seguro De Eliminar Este Registro?</h4>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.insumo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.insumo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.costohr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.costohr)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="idCatinsumo" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> ||
        <a asp-action="Index" class="btn btn-primary">Regresar A La Lista</a>
    </form>
</div>
