@model ProyectoGiasaWeb.Models.CatInsumo

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<h2>Editar Insumo</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="idCatinsumo" />
            <div class="form-group">
                <label asp-for="insumo" class="control-label"></label>
                <input asp-for="insumo" class="form-control" />
                <span asp-validation-for="insumo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="costohr" class="control-label"></label>
                <input asp-for="costohr" class="form-control" />
                <span asp-validation-for="costohr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Regresar A La Lista</a>
</div>

