@model ProyectoGiasaWeb.Models.Producto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<h2>Detalles De Productos</h2>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.desProducto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.desProducto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.idProducto" class="btn btn-info">Editar</a> |
    <a asp-action="Index" class="btn btn-primary">Regresar A La Lista</a>
</div>
